* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(219, 216, 216, 0.308);
}
.container-1 {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none solid white;
  background-color: rgb(255, 255, 255);
}

.flip {
  font-weight: bold;
  font-size: 27px;
  font-family: arial;
  font-style: italic;
  color: rgba(0, 0, 255, 0.873);
}
strong {
  color: gold;
}
.inp {
  background-color: white;
}
.inp-1 {
  width: 750px;
  height: 40px;
  border: none;
  background-color: aliceblue;
  border-radius: 8px;
  padding-left: 3.25rem;
  position: relative;
  font-size: 1.1rem;
  font-weight: lighter;
}
.search {
  position: absolute;
  left: 220px;
  top: 45px;
  background-color: transparent;
}
.down {
  position: absolute;
  right: 440px;
}
.flip-logo p,
strong {
  background-color: white;
}
.login,
.login img {
  background-color: rgb(255, 255, 255);
}

.down,
.down img {
  background-color: rgb(255, 255, 255);
}
div p {
  background-color: white;
}
.cart,
.cart img {
  background-color: white;
}
.seller,
.seller img {
  background-color: white;
}
.more,
.more img {
  background-color: white;
}
.login {
  position: relative;
  right: 55px;
}
.log {
  position: absolute;
  right: 470px;
  top: 45px;
}
.cart {
  position: relative;
  right: 37px;
}
.crt {
  position: absolute;
  right: 340px;
  top: 45px;
}
.seller {
  position: relative;
  right: 100px;
}
.sell {
  position: absolute;
  right: 110px;
}
.container-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: none white;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.grocery,
.grocery img {
  background-color: white;
}
.mobiles,
.mobiles img {
  background-color: white;
}
.fashion,
.fashion img {
  background-color: white;
}
.bags,
.bags img {
  background-color: white;
}
.home-apliances,
.home-apliances img {
  background-color: white;
}
.travel,
.travel img {
  background-color: white;
}
.container-2 div p {
  text-align: center;
}
.container-3 {
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  margin-left: 10px;
}
figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: 10s slide infinite;
}
.slide {
  position: relative;
  width: 25%;
  float: left;
}
.slide img {
  width: 100%;
}
@keyframes slide {
  0% {
    left: 0;
  }
  10% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  60% {
    left: -300%;
  }
  65% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  80% {
    left: -300%;
  }
  90% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
.container-4 {
  background-color: white;
  height: 370px;
  margin-left: 10px;
  position: relative;
  margin-top: 10px;
}
.container-4 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.container-4 :hover {
  cursor: pointer;
}
.container-4 div {
  margin-top: 10px;
  width: 300px;
  height: 295px;
  border: 1px solid rgba(183, 183, 183, 0.671);
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  border-radius: 5px;
}
.cam {
  background-image: url(images/cam2.jpeg);
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-position: 20px 10px;
}
.moniter {
  background-image: url(images/moniter2.png);
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-position: 17px 3px;
}
.watch {
  background-image: url(images/watch4.png);
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-position: 30px 10px;
}
.earpods {
  background-image: url(images/earpods2.png);
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-position: 60px 5px;
}
.printer {
  background-image: url(images/printer2.png);
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-position: 20px 40px;
}
.watch-2 {
  background-image: url(images/watch3.jpg);
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-position: 20px 10px;
}
.p-name {
  text-align: center;
  position: relative;
  top: 220px;
  color: grey;
}
.r-name {
  text-align: center;
  position: relative;
  top: 230px;
  font-weight: bold;
}
.left {
  position: absolute;
  top: 340px;
  background-color: white;
}
.right {
  position: absolute;
  top: 340px;
  right: 0;
  background-color: white;
}
.gadget {
  position: absolute;
  top: 500px;
  left: 30px;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: arial;
}
