* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images-2/windows-bg.jpg);
  background-size: cover;
}
.full {
  border: none;
  border: solid rgba(0, 0, 0, 0.456);
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-image: inherit;
  background-color: rgba(22, 22, 22, 0.659);
  margin-top: 250px;
  border-radius: 10px;
}
.user label,
input {
}
input {
  border: none;
  border: 1px solid blue;
  height: 30px;
  width: 180px;
  border-radius: 60px;
  background-color: inherit;
  background-color: rgba(255, 255, 255, 0.281);
  color: white;
  position: relative;
  padding-left: 15px;
}

label {
  color: rgb(255, 255, 255);
}
.log {
  background-color: white;
  border: none;
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.log p {
  padding-top: 5px;
  padding-left: 5px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.714);
}
h2 {
  color: white;
}
img {
  position: absolute;
  top: 150px;
  left: 670px;
}
.pass {
  padding-left: 5px;
}
.prof {
  position: absolute;
  top: 321px;
  left: 870px;
}
.lock {
  position: absolute;
  top: 387px;
  left: 870px;
}
.eye {
  position: absolute;
  top: 237px;
  left: 240px;
}
